[submodule "nvim/pack/plugins/start/gruvbox"]
	path = nvim/pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "nvim/pack/plugins/start/vim-gitgutter"]
	path = nvim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "nvim/pack/plugins/start/coc.nvim"]
	path = nvim/pack/plugins/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
	branch = release
[submodule "nvim/pack/plugins/start/vim-snippets"]
	path = nvim/pack/plugins/start/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "nvim/pack/plugins/opt/vimtex"]
	path = nvim/pack/plugins/opt/vimtex
	url = https://github.com/lervag/vimtex
